@import "tailwindcss";

:root {
  --primary: #dc2626;
  --primary-hover: #b91c1c;
  --deep-primary: #991b1b;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-deep-primary: var(--deep-primary);
}

@theme {
  --font-sans: var(--font-anek-bangla), sans-serif;
}

