@import "tailwindcss";

:root {
  --primary: #dc2626;
  --primary-hover: #b91c1c;
  --deep-primary: #991b1b;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-deep-primary: var(--deep-primary);
}

@theme {
  --font-sans: var(--font-anek-bangla), sans-serif;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}